@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?tc7q2y');
    src:  url('fonts/icomoon.eot?tc7q2y#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?tc7q2y') format('truetype'),
      url('fonts/icomoon.woff?tc7q2y') format('woff'),
      url('fonts/icomoon.svg?tc7q2y#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e9bd";
  }



body{
    margin: 0;
}
*{
    font-family: roboto !important;
}
.header {
    position: fixed;
    z-index: 2;
    background-color: rgba(0,0,0, .8);
    width: 100%;
}
.cont--menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cont--logo {
    width: 100px;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    width: 90%;
  }
  .logo-dental{
      max-width: 100%;
  }
.owl-dots {
    display: none;
}
.menu--ul{
   margin: 0;
   padding: 0;
   display: flex;
}
.menu--li{
    list-style: none;
}
.menu--a{
    text-decoration: none;
    margin: 0 20px;
    color: white;
    font-size: 19px;
}
/* nosotros */
.nosotros {
    margin-bottom: 30px;
}
.cont__nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.nosotros__figure {
    margin: 0;
}
.nosotros__img {
    max-width: 100%;
}
.compromiso {
    font-family: century gothic;
    font-size: 30px;
    line-height: .9;
}
.strong {
    font-weight: 800;
    font-size: 65px;
    color: #388b95;

}

.btn-1 {
    font-size: 15px;
    padding: 10px 25px;
    background-color: #3ac0d0;
    color: white;
    border: none;
    cursor: pointer;
}
.descripcion-nosotros {
    font-family: century gothic;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 100px;
}
.nosotros-movil{
    display: none;
}
.cont--titulo {
    text-align: center;
    padding: 50px 0;
}
.titulo--especialidades {
    margin: 0;
    display: inline-block;
    padding: 5px 20px;
    background-color:#a3cd4f;
    color: white;
    font-family: century gothic;
}
.cont__especialidades {
    background-color: #001E37;
}
.strong-especialidades {
    font-weight: 800;
}
.logos--especialidades {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}
.img_esp {
    width: 150px;
    filter: drop-shadow(-16px 4px 6px black);
}
.cont--span {
    margin-bottom: 40px;
}
.span {
    color: white;
    font-family: century gothic;
    font-size: 20px;
}



/* .cont__especialidades {
    background-color: #001E37;
    margin-top: -10px;
    padding-top: 5px;
} */
/* .especialidades__img {
    max-width: 100%;
}
.cont__img {
    margin-top: -10px;
    padding-top: 5px;
} */
.cont__pago {
    background-color: #eceff1;
    padding: 40px 0;
}
.img-pago {
    display: flex;
    justify-content: space-between;
}
.cont-img-visa {
    display: inherit;
    align-items: center;
}
.visa {
    width: 300px;
}
.master {
    width: 200px;
}





.cont__contacto {
    background-color: #001E37;
    position: relative;
}
.img__contacto {
    max-width: 100%;
}
.input  {
    width: 240px !important;
    height: 70px !important;
    background: white !important;
    border: none !important;
    border-radius: 10px !important;
    padding: 0 10px !important;
    display: block !important;
    margin-bottom: 20px !important;
}
.textarea {
    width: 250px;
    height: 251px;
    background: white;
    border: none;
    border-radius: 10px;
    padding: 15px 10px;
    display: inline-block;
    
}
.btn--texto {
    text-align: center;
}
.btn {
    margin: 30px 0;
    font-size: 15px;
    padding: 10px 25px;
    background-color: #3ac0d0;
    color: white;
    border: none;
    cursor: pointer;
}

.txt {
    display: inline-block;
}


.contacto {
    background-color: rgb(0, 30, 55);
  
}
.contacto__descripcion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contacto__formulario {
    text-align: center;
    padding: 30px 0;
}
.contacto__formulario span {
    background-color: #a3cd4f;
    color: white;
    font-family: century gothic;
    font-weight: bold;
    font-size: 40px;
    padding: 2px 10px;
}
.grid--contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.descripcion {
    margin: 0;
    font-size: 40px;
    color:  #3ac0d0;
    font-weight: 100;
    font-family: century gothic;
    margin-left: 30px;
}
.descripcion strong {
    font-weight: bold;
}
.parrafo--descripcion {
    color: #3ac0d0;
    font-size: 20px;
    font-weight: 100;
    font-family: century gothic;
    margin-left: 30px;
}
.parrafo--descripcion strong {
    font-family: century gothic;
    font-weight: bold;
}
.img__sociales {
    width: 100px;
    margin: 0 15px;
    filter: drop-shadow(-10px 4px 6px black);
}




/* footer */
.footer__copyright{
    color: white;
    background-color: #1f7d97;
    font-family: century gothic;
}

.footer__claro {
    background-color:#2086a2 ;
}
.footer__a {
    padding: 30px 0;
}
.footer__a a{
    display: block;
    color: white;
    font-family: century gothic;
    cursor: pointer;
    text-decoration: none;
}
.footer__oscuro {
    background-color: #1f7d97;
}
.mexico{
    float: right;
}
.btn-wats{
    position: relative;
}
.img-wats{
    position: fixed;
    top: 87%;
    right: 3%;
    z-index: 1;
}
.burger-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .9);
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 3;
    left: 5px;
    top: 5px;
    color: white;
    /* font-size: 50px; */
}
.images-movil{
    display: none !important;
}
.img-wats img{
    width: 50px;
    /* transform: scale(1.5); */
    animation: beating 1s ease infinite;
}
@keyframes beating {
    0% {
        transform: scale(.5);
    }
    50% {
      transform:  scale(1);
    }
    100% {
        transform:  scale(.5);
    }
  }


/* responsive */

@media screen and (max-width: 1530px){
    .input{
        width: 210px !important;
    }
    .textarea{
        width: 210px !important;
    }
    .descripcion{
        font-size: 30px;
    }
    .parrafo--descripcion{
        font-size: 17px;
    }
    .img__sociales{
        width: 80px;
    }
    .container {
        width: 75%;
    }
}
@media screen and (max-width: 1350px){
    
}

@media screen and (max-width: 1024px){
    .compromiso {
        font-size: 26px;
    }
    .strong {
        font-size: 61px;
    }
    .descripcion-nosotros{
        font-size: 15px;
        margin-bottom: 90px;
    }
    .nosotros__figure{
        text-align: right;
    }
    .nosotros__img {
        max-width: 95%;
    }
    .img_esp {
        width: 140px;
    }
    .span {
        font-size: 18px;
    }
    .titulo--especialidades{
        font-size: 45px;
    }
    .container {
        width: 90%;
    }
   
}

@media screen and (max-width: 1024px){
    .textarea{
        height: 200px;
    }
    .input{
        height: 53px !important;
    }
    .descripcion {
        font-size: 30px;
    }
    .parrafo--descripcion {
        font-size: 16px;
    }
    .img__sociales {
        width: 60px;
    }
    .input {
        width: 200px !important;
    }
}

@media screen and (max-width: 1000px){
    .contacto__formulario span{
        font-size: 35px;
    }
    .input{
        margin-right: 10px !important;
        margin-bottom: 5px !important;
        height: 43px !important;
    }
    .textarea{
        height: 140px;
    }
    .descripcion {
        font-size: 20px;
    }
    .parrafo--descripcion {
        font-size: 14px;
    }
    .img__sociales {
        width: 44px;
    }
}

@media screen and (max-width: 880px){
    .descripcion {
        font-size: 26px;
    }
    .parrafo--descripcion {
        font-size: 12px;
    }
    .img__sociales {
        width: 39px;
    }
}



@media screen and (max-width: 786px){
    .descripcion-nosotros{
        font-size: 14px;
    }
    .titulo--especialidades{
        font-size: 40px;
    }
}
@media screen and (max-width: 768px){
    .compromiso {
        font-size: 20px;
    }
    .strong {
        font-size: 44px;
    }
    .descripcion-nosotros{
        font-size: 13px;
        margin-bottom: 80px;
        text-align: justify;
    }
    .nosotros__img {
        max-width: 90%;
    }
    .img_esp {
        width: 120px;
    }
    .span {
        font-size: 16px;
    }
    .grid--contacto {
    display: block;
    }
    .contacto__descripcion{
        display: block;
    }
    .input{
        margin: 20px auto !important;
        width: 500px !important;
    }
    .textarea{
        margin: 0 auto;
        display: block;
        width: 500px !important;
    }
    .btn{
        font-size: 20px;
        padding: 0 40px;
    }
    .cont-logos{
        text-align: center;
    }
    .descripcion{
        margin-left: 0;
    }
    .parrafo--descripcion{
        margin-left: 0;
    }
    .contacto{
        padding-bottom: 20px;
    }
    
}

@media screen and (max-width:767px){
    
   
}
@media screen and (max-width:425px){
    .images-movil{
        display: block !important;
    }
    .images-full{
        display: none !important;
    }
}

@media screen and (max-width:734px){
    .cont--menu{
       display: block;
       text-align: center;
       position: fixed;
       background-color: rgba(0, 30, 54, 0.8);
        top: 0;
        left: -100vw;
        width: 100vw;
        bottom: 0;
        transition: .3s;

    }
    .cont--menu.is-active{
        left: 0;
    }
    .menu--ul{
        display: block;
    }
    .cont--logo{
        margin: 0 auto;
    }
    .menu--li{
       margin: 20px 0 30px 0;
    }
    .burger-button{
        display: block;
    }
}

@media screen and (max-width: 680px){
    .salto {
        display: none;
    }
    .descripcion-nosotros {
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media screen and (max-width: 600px){
    .container {
       width: 95%;
    }
}
@media screen and (max-width: 650px){
    .container {
        width: 100%;
    }
    .span {
        font-size: 14px;
    }
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 600px){
    .logos--especialidades {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
    .img_esp {
        width: 160px;
    }
    .span {
        font-size: 24px;
    }
.nosotros {
    display: none;
    }
    .nosotros-movil{
        display: block;
    }
    .cont__nosotros{
        display: block;
    }
    .cont-compromiso-movil{
        text-align: center;
    }
    .descripcion-nosotros{
        margin: 0px 60px;
        font-size: 17px;
        line-height: 1;
    }
    .btn-1{
        margin-bottom: 30px;
        margin-top: 80px;
        font-size: 20px;
    }
    .strong {
        font-size: 70px;
    }
    .compromiso {
        font-size: 30px;
    }
    .cont--titulo{
        padding: 25px 0;
    }
    .img-pago{
        text-align: center;
        display: block;
    }
    .cont-img-visa{
        margin-bottom: 40px;
    }
    .input{
        width: 430px !important;
    }
    .textarea{
        width: 430px !important;
    }
}

@media screen and (max-width: 500px){
    .input{
        width: 350px !important;
    }
    .textarea{
        width: 350px !important;
    }
}

@media screen and (max-width: 425px){
    .compromiso {
        font-size: 16px;
    }
    .strong {
        font-size: 40px;
    }
    .descripcion-nosotros{
        font-size: 15px;
        margin-bottom: 40px;
    }
    .img_esp {
        width: 140px;
    }
    .span {
        font-size: 16px;
    }
    .input{
        width: 280px !important;
    }
    .textarea{
        width: 280px !important;
    }
}

@media screen and (max-width: 414px){
   .btn-1{
    margin-top: 20px;
   }
}

@media screen and (max-width: 375px){
    .titulo--especialidades {
    font-size: 30px;
    }
    .descripcion {
        font-size: 25px;
    }
    .img__sociales {
        width: 45px;
    }    
    .contacto__formulario span {
        font-size: 35px;
    }
    .footer__copyright{
        font-size: 12px;
        margin-left: 5px;
    }
}

@media screen and (max-width: 320px){
    .descripcion-nosotros{
        margin: 0px 20px;
    }
    .compromiso {
        font-size: 20px;
    }
    .strong {
        font-size: 45px;
    }
    .btn-1{
        margin-top: 20px;
    }
    .visa {
        width: 250px;
    }
    .master{
        width: 180px;
    }
    .descripcion {
        font-size: 22px;
    }
    .footer__copyright a{
        margin: 0 10px;
    }
    .footer__copyright{
        font-size: 10px;
    }
}

